<head>
  <title>Cristian Dugacicu - Software Engineer</title>
  
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Software Engineer Consultant from Berlin, Germany focused on highly scalable distributed cloud systems on Linux platforms.">
  <meta name="author" content="Cristian Dugacicu">
  <meta name="keywords" content="software, engineer, consultant, contract, web, developer, full, stack, frontend, backend, development, java, spring, kafka, big data, streams, rabbitmq, ruby, rails, javascript, typescript, angular, js, mongo, kubernetes, docker, 3D, webgl, threejs, webapp, app, API, REST, SPA, SaaS, single, page, application, service, microservice, devops, server">

  <!-- CSS -->
  <link rel="shortcut icon" href="assets/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
  <!-- Global CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/font-awesome/css/font-awesome.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
